:root {
  --primary-color: #f6511d;
  --secondary-color: #6c757d;
  --tertiary-color: #d5dfe5;
  --accent-color: #ffc107;
  --white-color: #fff;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

.white-color {
  color: var(--white-color);

}

.bg-dark {
  background-color: #2c363f !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;

}



.who-we-are-heading {
  letter-spacing: -0.05rem;
  font-family: "Archivo", sans-serif;
  font-weight: 800 !important;
  color: white
}


@media (min-width: 40em) {

  .who-we-are-heading {
    font-size: 50px;
  }
}

.navbar-brand {
  color: white;
  margin-left: 20px;

  --bs-navbar-brand-hover-color: var(--primary-color);
}

.nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #a6a867;
}

.active {
  color: var(--accent-color)

}

.jumbotron-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/serverSide8.jpeg"); /* Specify the path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  padding: 50px; /* Add padding to the container if needed */
}

.hero {
  display: flex;
  min-height: 576px;
  height: 100%;
  background-color: #222;
  align-items: center;
  color: white;
}

.custom-image {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
}

.hero-text {
  font-size: calc(2rem + 1.5vw);
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  line-height: normal;
}

.banner-text {
  font-size: calc(3rem + 1.5vw);
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  line-height: normal;
}

@media (max-width: 576px) {
  .hero-text span {
    font-size: calc(1rem + 2vw); /* this is adjusted to this height so the word implementation is accomodated */
  }
}

.mask {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.masked-image {
  width: 10em;
  transform: translateY(-30px);
  clip-path: circle(100px at 50% 50%);
}

.carousel-text {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
  color: "white";
}

.btn-primary {
  background-color: #f6511d;
  border-color: #f6511d;
  --bs-btn-hover-bg: var(--tertiary-color);
  --bs-btn-hover-border-color: none;
  --bs-btn-active-bg: --var(--secondary-color)
}

.btn-secondary {
  --bs-btn-bg: #00a6fb;
  --bs-btn-border-color: #00a6fb;
}

.image-container img {
  width: 300px; /* Ensures the image does not exceed the width of its container */
  height: 300px; /* Allows the image to scale proportionally */
  padding: 10px; /* Adds padding around the image */
  object-fit: cover; /* Scales the image while preserving its aspect ratio */
  object-position: center; /* Centers the image within the container */
}

.text-body-emphasis {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

.h2-bold {
  font-weight: 900
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* --bs-btn-hover-bg {
      background-color: #36383f;
    } */

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.grayscale {
  filter: grayscale(100%);
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #f6511d;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.lead {
  margin-bottom: 0;
}

.image-style {
  border-radius: 15px;
}

.orange-container {
  min-height: calc(25vh + 100px);
}

.rounded-link {
  display: inline-block;
  padding: 0.5em 3em;
  border: 2px solid #000;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
}

.rounded-link:hover {
  background-color: #000;
  color: #fff;
}

