:root {
    --primary-color: #f6511d;
    --secondary-color: #6c757d;
    --tertiary-color: #D5DFE5;
    --accent-color: #ffc107;
  }
  

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.primary-color {
  color: var(--primary-color);
}

.tertiary-color{
  color: var(--tertiary-color);
}

.bg-dark {
  background-color: #2c363f !important;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
  margin-left: 20px;

  --bs-navbar-brand-hover-color: var(--primary-color);
}

.nav {
  --bs-nav-link-color: #a6a867;
  --bs-nav-link-hover-color: #a6a867;
}

.jumbotron-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/_4254d9ff-ee82-4fa7-af9a-dc394260937a.jpeg"); /* Specify the path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  padding: 50px; /* Add padding to the container if needed */
}

.hero {
  display: flex;
  min-height: 576px;
  height: 100%;
  background-color: #222;
  align-items: center;
  color: white;
}

.hero-text {
  font-size: calc(2rem + 1.5vw);
}

.btn-primary {
  background-color: #f6511d;
  border-color: #f6511d;
}



.image-container {
    width: 300px; /* Fixed width */
    height: 300px; /* Fixed height */
    overflow: hidden;
    position: relative; /* Needed for absolutely positioned content */
  }
  
  .image-container img {
    width: 100%; /* Ensures the image fills the container horizontally */
    height: 100%; /* Ensures the image fills the container vertically */
    object-fit: cover; /* Scales the image while preserving its aspect ratio */
    object-position: center; /* Centers the image within the container */
  }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* --bs-btn-hover-bg {
      background-color: #36383f;
    } */

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.grayscale {
  filter: grayscale(100%);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;

}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #F6511D;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
