body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1rem;
  color: white;
  text-align: left;
  background-color: black;
}

.text-primary {
  color: #ff0000 !important;
}

.text-muted {
  color: #404040 !important;
}
